<%- include("head") %>
<link rel="stylesheet" href="/stylesheets/home.css" />

<%- include("navbar") %>

<title>Boston post</title>

<section class="container-fluid">
  <section class="row prueba">
  <div class="col">
    <div > <img class="logo" src="/images/BancoImages/Black and White Monochrome Tech Logo.png" alt="">
      <p class="text-white presentacion">Dale la visualizacion que necesita tu restaurante</p>
    </div>
   
  </div>
   


</section>
</section>

<%- include("footer") %>
