
  </head>
  <body>


<header>
  
  
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light " >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Boston <span class="branding">post</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse menu" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/restaurant">Restaurantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/dish">Platos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </li>
        </ul>
        <div>
          <a href="/restaurant/register"><button class="btn  m-2 buttonsnav">Registrate!</button></a>
          <a href="/restaurant/login"><button class="btn m-2 buttonsnav">Login!</button></a>
        </div>

      </div>
    </div>
  </nav>
</header>